<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="shortcut icon" href="/images/Clouds-icon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>Weather Now</title>
</head>

<body>
    <div class="page-layout">
        <div class="page">

            <section class="section-header">
                <header>
                    <h1 class="site-logo">Weather Now</h1>
                </header>
            </section>

            <section class="section-nav">
                <nav>
                    <ul class="nav-list">
                        <li class="link-item"><a href="/" class="active">Home</a></li>
                        <li class="link-item"><a href="/about/">About</a></li>
                        <li class="link-item"><a href="/help">Help</a></li>
                    </ul>
                </nav>
            </section>

            <section class="section-input">
                <form action="" id="input-form">
                    <div class="location-input">
                        <div>
                            <label for="city">Location</label>
                        </div>
                        <input type="text" onClick="this.select();" placeholder="Enter locaiton" id="city" required>
                    </div>
                    <br><br>

                    <div class="prefered-unit">
                        <span>Prefered unit</span>
                        <input type="radio" name="unit" id="metricID" value="metric" required>
                        <label for="metricID">Metric</label>
                        <input type="radio" name="unit" id="imperialID" value="imperial" required>
                        <label for="imperialID">Imperial</label>
                    </div>


                    <br><br>

                    <button class="submit-btn">Get weather</button>
                </form>
            </section>

            <section class="section-output">
                <p id="output-paragraph">Get current weather data from cities all over the world...</p>
            </section>

        </div>



        <footer>
            <h2>Created by Mohamed Soliman &copy; 2022</h2>
        </footer>

    </div>



    <script src="/javascript/front.js"></script>
</body>

</html>