/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    font-family: 'Roboto', sans-serif;
    color: rgb(109, 105, 105);
    
}

section{
    padding-top: 3em;
}

.page-layout{
    width: 85%;
    padding-left: 3em;
    padding-right: 3em;
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    margin-right: 2em;

}
.page{
    display: flex;
    flex-grow: .6;
    flex-direction: column;
   
}

.site-logo{
    font-size: 3em;
    margin-top: .8em;

}

.nav-list{
    display: flex;
    justify-content: left;
    flex-direction: row;
    border-bottom: 1px solid grey;
    padding-bottom: 16px;
    
}

.link-item{
    padding-right: 2em;
    font-size: larger;
    text-decoration: none;
}

.link-item a{
    text-decoration: none;
    color: #888888;
    
}

a:visited {
    text-decoration: none;
  }

a:hover {
    color: black
  }

.active{
    color:black !important;
    font-weight: bold;
}

  footer{
      
      padding-top: 16px;
      position: absolute;
      top: 90vh;
      border-top: 1px solid #888888;
      width: 85%;
  }

  #city{
      padding: 8px ;
      border: 1px solid #cccccc ;
      margin-top: 16px;

  }

  .section-input h2{
      font-size: x-large;
      margin-bottom: 20px;
  }

  button{
      cursor: pointer;
      padding: 8px;
      background-color: #888888;
      color: white;
      border: 1px solid #888888;
  }

  button:hover{
      color:#cccccc
  }
  .technologies{
  }






